parameters:
	ignoreErrors:
		-
			message: "#^Method PBaszak\\\\DedicatedMapper\\\\DedicatedMapperBundle\\:\\:getContainerExtension\\(\\) should return Symfony\\\\Component\\\\DependencyInjection\\\\Extension\\\\ExtensionInterface but returns Symfony\\\\Component\\\\DependencyInjection\\\\Extension\\\\ExtensionInterface\\|false\\.$#"
			count: 1
			path: ../../src/DedicatedMapperBundle.php

		-
			message: "#^Cannot access offset 0 on PBaszak\\\\DedicatedMapper\\\\Attribute\\\\TargetProperty\\.$#"
			count: 1
			path: ../../src/Expression/ExpressionBuilder.php

		-
			message: "#^Access to an undefined property Symfony\\\\Component\\\\Validator\\\\Constraint\\:\\:\\$message\\.$#"
			count: 2
			path: ../../src/Expression/Modificator/Symfony/SymfonyValidator.php

		-
			message: "#^Method PBaszak\\\\DedicatedMapper\\\\Expression\\\\Modificator\\\\Symfony\\\\SymfonyValidator\\:\\:createConstraintCallback\\(\\) has parameter \\$constraints with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Expression/Modificator/Symfony/SymfonyValidator.php

		-
			message: "#^Anonymous function should return PBaszak\\\\DedicatedMapper\\\\Attribute\\\\MappingCallback\\|null but returns object\\|null\\.$#"
			count: 1
			path: ../../src/Properties/Property.php
