parameters:
	ignoreErrors:
		-
			message: "#^Anonymous function should return PBaszak\\\\DedicatedMapperBundle\\\\Attribute\\\\MappingCallback\\|null but returns object\\|null\\.$#"
			count: 1
			path: ../../src/Properties/Property.php
